@model Search.Models.FoodBasket
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 

    <script type="text/javascript">
    $(function () {
        $("#btnGet").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/Index",
                data: '{id: "' + $("#Food_Name").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    document.getElementById("Yemek_Adim").value = response.Food_Name;
                    document.getElementById("Yemek_Fiyatim").value = response.Food_Price;
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
    </script>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Food_Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>
        }  
 
        <button type="submit" name="btnGet" id="btnGet">Tıkla</button>
        <br />
        Yemek Adı:  <input type="text" id="Food_Name"  />
        <br />
        Yemek Fiyatı: <input type="text" id="Food_Price" />
    </div>
</body>
</html>
